.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/architecture-diagram.png
!**/src/test/resources/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
